@use '../abstracts' as a;

.navbar{
    background-color: var(--black-clr);

    &.navbar__scrolled{
        background-color: white;
        transition: .5s ease-in;
    }
}

.navbar-brand{
    font-family: "Ibarra Real Nova", serif;
    color: var(--white-clr);
    font-size: 1.5rem;

    &:hover{
        color: var(--white-clr);
    }

    &.navbar-brand__scrolled{
        color: var(--black-clr);
    }
}

.navbar-collapse{
    .navbar-nav{
        &:nth-of-type(1){
            .nav-item{
                margin-inline: .5em;

                .nav-link{
                    position: relative;
                    color: var(--white-clr);

                    &::after{
                        @include a.underlineEffect(0, 2px);
                    }

                    &:hover::after, &.active::after{
                        width: 100%;
                    }

                    .bxs-down-arrow{
                        font-size: 0.75rem;
                    }

                    &.nav-links__scrolled{
                        color: var(--black-clr);
                    }
                }
            }
        }
    }
} 

.nav-link i{
    color: var(--white-clr);

    &.nav-icons__scrolled{
        color: var(--black-clr);
    }
}

.nav-link .badge{
    background-color: var(--primary-dark-clr);
}

// ========== MOBILE ==========
@media (max-width: 991px) {
    .navbar-toggler{
        color: transparent;
        border: none;

        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(211, 211, 218, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;

            &.navbar-toggler-icon__scrolled{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(20, 20, 20, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
            }
        }
    }

    .icon-link{
        margin-inline: .5em;
    }

    .navbar-collapse{
        margin-block: 2em 1em;
    }

    .dropdown-menu{
        background-color: var(--black-clr);
        border: none;

        &.dropdown-menu__scrolled{
            background-color: white;
        }

        .dropdown-item{
            color: var(--grey-clr);
        }
    }
}