:root {
    --primary-clr: #b68d40;
    --black-clr: #141414;
    --grey-clr: #777575;
    --white-clr: #d3d3da;





    
    
    --secondary-clr: #f4ebd0;
    --test1: #1F494F;
    --test2: #BB9877;
    // use
    --test3: #E3D9D0;
    --test4: #F3D8AA;
    --test5: #CE8E45;
    --test6: #483222;
    --test7: #d1b483;
    --test8: #3a4d3e;
    --test9: #8ea482;
    --test10: #b4e49a;
    --test11: #f4e9df;
}


