@use '../abstracts' as a;
@use '../base';

// ========== HERO SECTION ==========
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/hero_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50%;
    border-top: 1px solid black;
    @include a.centerPage;

    @media (max-width: 991px) {
        background-position: top;
    }

    @media (max-width: 565px) {
        display: block;
        background-image: linear-gradient(360deg, rgb(61, 61, 61) 0%, rgba(0, 0, 0, .61) 0%), url("../../assets/img/hero_bg.jpg"); 
        background-position: right;
    }
}

.hero__content{
    max-width: 50%;
    color: white;

    @media (max-width: 565px) {
        max-width: 100%;
        margin-top: 20em;
    }

    h1{
        font-family: "Ibarra Real Nova", serif;
        line-height: 1.1;
        margin-bottom: .3em;
    }

    .cta{
        @media (max-width: 565px) {
            margin-top: 1em;  
        }
    }
}

// ========== CATEGORIES SECTION ==========
.categories{
    min-height: 80vh;

    .category__card{
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .7s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .categories__cta {
            @include a.ctaButton(absolute, black, a.$primary-light-clr, black);
            bottom: 10%;
            left: 7%;

            &::after{
                @include a.underlineEffect(25px, 10px)
            }
        
            &:hover::after{
                width: 60%;
            }
        }
    }
}

// ========== ABOUT SECTION ==========
.about{
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.9)), url('../../assets/img/about.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .about__content {
        max-width: 50%;
        min-height: 65vh;
        @include a.centerPage;
        color: var(--white-clr);
        position: relative;

        @media (max-width: 991px) {
            max-width: 70%;
        }

        @media (max-width: 567px) {
            max-width: 100%;
        }

        .about__info{
            background: rgba(0, 0, 0, 0.6);
            padding: 2.5em;
            border-radius: 12px;

            h2{
                color: var(--primary-dark-clr);
                margin-bottom: .5em;
            }
        }
    }
}

// ========== BEST SELLERS SECTION ==========
.best__sellers .product__card{
    max-width: 100%; 
    margin: 0 auto;

    @media (max-width: 767px) {
        max-width: 100%;
    }

    .product__card__body{
        padding-bottom: 1rem;
    }
}

// ========== CUSTOMIZATION SECTION ==========
.customization__content{
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }

    img{
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}