@use '../abstracts' as a;
@use '../base';

// ========== HERO SECTION ==========
.hero{
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/img/hero_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 50%;
    border-top: 1px solid black;
    @include a.centerPage;

    @media (max-width: 991px) {
        background-position: top;
    }

    @media (max-width: 565px) {
        display: block;
        background-image: linear-gradient(360deg, rgb(61, 61, 61) 0%, rgba(0, 0, 0, .61) 0%), url("/assets/img/hero_bg.png"); 
        background-position: right;
    }
}

.hero__container{
    margin-top: 3em;
}

.hero__content{
    max-width: 50%;
    color: white;

    @media (max-width: 565px) {
        max-width: 80%;
        margin-top: 27em;
    }

    @media (max-width: 500px) {
        max-width: 100%;
        margin-top: 25em;
    }

    h1{
        font-family: "Ibarra Real Nova", serif;
        line-height: 1.2;
        margin-bottom: .3em;
    }

    .cta{
        @media (max-width: 565px) {
            margin-top: 1em;  
        }
    }
}

// ========== CATEGORIES SECTION ==========
.categories{
    min-height: 80vh;

    .category__card{
        position: relative;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .7s ease;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .categories__cta {
            @include a.ctaButton(absolute, black, a.$primary-light-clr, black);
            bottom: 10%;
            left: 7%;

            &::after{
                @include a.underlineEffect(25px, 10px)
            }
        
            &:hover::after{
                width: 60%;
            }
        }
    }
}

// ========== ABOUT SECTION ==========
.about {
    background-color: var(--black-clr);

    .about__content {
        @include a.centerPage;
        flex-direction: column; 
        position: relative;
    }

    .about__info {
        position: absolute;
        width: 40%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        color: var(--white-clr);
        background: rgba(0, 0, 0, 0.6);
        padding: 2.5em;
        border-radius: 12px;
        
        h2{
            color: var(--primary-dark-clr);
            margin-bottom: .5em;
        }

        @media (max-width: 992px) {
            width: 60%;
            left: 0;
        }

        @media (max-width: 767px) {
            position: relative;
            width: 90%;
            left: 0;
            top: auto;
            transform: none;
        }
    }
}

// ========== BEST SELLERS SECTION ==========
.best__sellers .product__card{
    max-width: 100%; 
    margin: 0 auto;

    @media (max-width: 767px) {
        max-width: 100%;
    }

    .product__card__body{
        padding-bottom: 1rem;
    }
}

// ========== CUSTOMIZATION SECTION ==========
.customization__content{
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }

    .customization__details{
        .cta{
            margin-top: 2em;
            border: none;
    
            &:hover{
                background-color: var(--primary-dark-clr);
            }
        }
    }

    img{
        border-radius: 12px;
    }
}