@use 'custom';
@use 'abstracts';
@use 'base';
@use 'components';
@use 'pages';

// CSS PROPERTIES GOES HERE
.container{
    max-width: 80.5%;
}

@media (max-width: 991px) {
    .container{
        max-width: 90%;
    }
}

@media (max-width: 565px) {
    .container{
        max-width: 100%;
    }
}
