@use 'custom';
@use 'abstracts';
@use 'base';
@use 'components';
@use 'pages';

// UNIVERSAL STYLES
.container{
    max-width: 80.5%;
    margin: 0 auto;

    @media (max-width: 565px) {
        max-width: 100%;
    }
}

section:not(.hero, .product__list){
    margin-top: 7em;
}

.header{
    margin-bottom: 3em;

    hr{
        background-color: black;
        width: 20%;
        height: 2px;
        margin: .55em auto;
        opacity: 1;
    }
}

i{
    font-size: 1.3rem;
}
